<% @title = "Графік вимкнень, #{@line.name}, #{I18n.l(DateTime.now, format: '%A, %e %b %Y')}, Івано-Франківськ" %>
<main>
  <div class="container px-4 py-2">
    <div class="row mt-2">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to 'Головна', root_url %></li>
          <li class="breadcrumb-item active" aria-current="page"><%= @line.name %></li>
          <li class="breadcrumb-item"><%= link_to "#{l @date - 1.day, format: "%A, %e %b"}", line_path(@line), class: "" %></li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="my-2"><span class="fw-bold"><%= l @date, format: "%A, %e %b %Y" %></span></div>
    </div>
    <div class="row">
      <p><i class="bi bi-exclamation-triangle" style="color: orange;"></i> Орієнтовний графік на завтра, на основі попередніх даних Прикарпаттяоблеренго.</p>
      <p class="text-warning">Можливі зміни в графіку</p>
    </div>
    <div class="row">
      <div class="col-6 col-md-3 col-lg-2">
        <% for index in 1..12 %>
          <%= render "layouts/next_row", index: index %>
        <% end %>
      </div>
      <div class="col-6 col-md-3 col-lg-2">
        <% for index in 13..24 %>
          <%= render "layouts/next_row", index: index %>
        <% end %>
      </div>
    </div>
    <div class="row mt-4"></div>
    <%= render "layouts/footer" %>
  </main>
