<% @title = "Графік вимкнень, #{@line.name}, #{I18n.l(DateTime.now, format: '%A, %e %b %Y')}, Івано-Франківськ" %>
<main>
  <div class="container px-4 py-2">
    <div class="row mt-2">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to 'Головна', root_url %></li>
          <li class="breadcrumb-item active" aria-current="page"><%= @line.name %></li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="my-2"><span class="fw-bold"><%= l @date, format: "%A, %e %b %Y" %></span></div>
    </div>
    <div class="row"><%= render "layouts/text_info", day: @day %></div>
    <div class="row">
      <div class="col-6 col-md-3 col-lg-2">
        <% for index in 1..12 %>
          <%= render "layouts/row", day: @day, index: index %>
        <% end %>
      </div>
      <div class="col-6 col-md-3 col-lg-2">
        <% for index in 13..24 %>
          <%= render "layouts/row", day: @day, index: index %>
        <% end %>
      </div>
    </div>
    <div class="row mt-4">
      <p class="text-muted font-weight-lighter"><small>Інформація про графіки із сайту oe.if.ua</small></div>
    </div>
    <%= render "layouts/footer" %>
  </main>
