<!DOCTYPE html>
<html lang="ua" data-bs-theme="dark">
  <head>
    <% if Rails.env == 'production' %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-C5X50GCXJ9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-C5X50GCXJ9');
    </script>
    <% end %>
    <title><%= @title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="<%= yield_meta_tag(:description, '') %>" />
    <meta name="keywords" content="<%= yield_meta_tag(:keywords, '') %>" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
